{
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "plugins": ["react", "@typescript-eslint", "import"],
  "rules": {
//    "no-console": "warn",
//    "no-var": "error",
//    "class-methods-use-this": "warn",
//    "consistent-return": "warn",
//    "no-trailing-spaces": "off",
//    "no-confusing-arrow": "warn",
//    "no-debugger": "off",
//    "no-shadow": "warn",
//    "no-nested-ternary": "warn",
//    "comma-dangle": ["warn", "always-multiline"],
//    "semi": ["warn", "always"],
//    "quotes": ["warn", "single"],
//    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
//    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
//    "react/jsx-uses-react": "off",
    "@typescript-eslint/no-unsafe-return": "error",
    "react/react-in-jsx-scope": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx", ".ts"] }]
  },

  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "alias": [
        ["@", "./src"],
        ["@components", "./src/components"],
        ["@router", "./src/router"],
        ["@constants", "./src/constants"],
        ["@assets", "./src/assets"],
        ["@locale", "./src/assets/locale"],
        ["@ts", "./src/ts"]
      ]
    }
  },

  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  }
}
