$white: #ffffff;
$black: #282828;
$orange: #fe5f1e;
$font-grey: #7b7b7b;
$light-grey: #e4e6ea;
$lighter-grey: #f3f3f3;
$silver-grey: #d7d7d7;
$middle-grey: #8d8d8d;
$disable-grey: #d0d0d0;
$light-black: #2c2c2c;
