$mainBackgroundColor: #ffffff;
$mainFontColor: #282828;
$contractFontColor: #fe5f1e;
$darkContractFontColor: rgba(254, 95, 30, 0.1);
$subTitleFontColor: #7b7b7b;
$borderButtonColor: #e4e6ea;
$toggleBackground: #f3f3f3;
$dividerColor: rgba(171, 167, 167, 0);
$crossColor: #d7d7d7;
$buttonTitleColor: #8d8d8d;
$groupFormColor: #d0d0d0;
