@import '../../styles/colors';

.pizza {
  width: 260px;
}

.content-item-container {
  margin: 35px 55px 65px 0;

  .item-name {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 19px;
  }

  .btn {
    border: 3px solid #1a1a1a;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
  }

  .toggle-set {
    min-width: 280px;
    border-radius: 10px;
    background-color: $lighter-grey;
    padding: 5px;
  }

  .form-radio-group {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    padding: 3px 0;
  }

  .form-radio-group input[type='radio'] {
    display: none;
  }
  .form-radio-group label {
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    line-height: 34px;
    user-select: none;
  }

  .form-radio-group-item {
    display: flex;
    justify-content: center;
    width: 100%;
    color: $black;
    float: left;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
  }

  .form-radio-group-item-checked {
    @extend .form-radio-group-item;
    background: $white;
  }

  .form-radio-group-item-unavailable {
    @extend .form-radio-group-item;
    color: $disable-grey;
  }

  .form-radio-group-label {
    display: flex;
    justify-content: center;
    color: #1a1a1a;
    font-weight: 700;
    font-size: 14px;
  }

  .form-radio-group-label-checked {
    min-width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    color: #1a1a1a;
    font-weight: 700;
    font-size: 14px;
  }

  .price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
  }

  .price {
    font-weight: 700;
    font-size: 22px;
  }
}
