@import '../../styles/colors';

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 45px 0;

  @media (max-width: 768px) {
    display: block;
    margin: 0 0 20px 0;
  }

  .header-title-container {
    display: flex;
    gap: 10px;

    .main-title {
      margin: 0;
      font-size: 24px;
      text-align: left;
      font-weight: 800;
      line-height: 29px;
      letter-spacing: 0.01em;

      @media (max-width: 576px) {
        display: flex;
        justify-content: space-around;
      }
    }

    .sub-title {
      margin: 0;
      min-width: 300px;
      color: $subTitleFontColor;
      font-size: 18px;
      font-family: unset, serif;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0.01em;
      text-align: left;

      @media (max-width: 576px) {
        min-width: 0;
        font-size: 20px;
        line-height: 25px;
      }
    }

    @media (max-width: 576px) {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }

  .summary-button {
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      padding-top: 30px;
    }
  }
}

.divider {
  width: 100%;
  border-top: 1px solid $dividerColor;

  @media (max-width: 768px) {
    top: 190px;
  }

  @media (max-width: 576px) {
    display: none;
  }
}

//.nav-panel {
//  display: flex;
//  justify-content: space-between;
//  margin: 36px 0 15px 0;
//  box-sizing: content-box;
//
//  @media (max-width: 768px) {
//    display: block;
//    margin: 10px 0 0 0;
//  }
//
//  .filter-buttons-container {
//    display: flex;
//    align-items: center;
//    gap: 11px;
//
//    @media (max-width: 1210px) {
//      display: block;
//      //margin: 10px 30px;
//      //padding: 30px;
//    }
//  }
//
//  .sort {
//    display: flex;
//    align-items: baseline;
//    white-space: nowrap;
//    gap: 6px;
//
//    .vector {
//      width: 10px;
//      padding-bottom: 1px;
//    }
//
//    .sort-title {
//      width: max-content;
//    }
//
//    .sort-value {
//      border: none;
//      text-decoration: underline dotted $contractFontColor;
//      -webkit-appearance: none;
//      outline: none;
//      cursor: pointer;
//      color: $contractFontColor;
//      font-weight: 400;
//    }
//
//    .list-container {
//      //width: max-content;
//      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
//      border-radius: 10px;
//      background-color: $mainBackgroundColor;
//
//      position: absolute;
//      top: 37px;
//      left: 115px;
//
//      .sort-list {
//        list-style-type: none;
//        padding: 0;
//
//        li {
//          padding: 10px 20px;
//          font-weight: 500;
//          font-size: 14px;
//          line-height: 17px;
//          cursor: pointer;
//        }
//        li:hover {
//          color: $contractFontColor;
//          background-color: $darkContractFontColor;
//        }
//      }
//    }
//  }
//}
