@import '../../styles/colors';

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px 0;
  //padding: 49px 38px 0 77px;
  .header-title-container {
    display: flex;
    gap: 10px;

    .main-title {
      margin: 0;
      font-size: 24px;
      text-align: left;
      font-weight: 800;
      line-height: 29px;
      letter-spacing: 0.01em;
    }

    .sub-title {
      margin: 0;
      min-width: 282px;
      color: $font-grey;
      font-size: 17px;
      font-family: unset, serif;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0.01em;
      text-align: left;
    }
  }
}
.divider {
  position: absolute;
  width: 97%;
  height: 1px;
  top: 140px;
  left: 17px;
  background-color: $light-grey;
}

.buttons {
  margin: 70px 0 0 0;
  box-sizing: content-box;
}
